{{#with data}}
<div class="cover">
   <img src="{{thumbnail.path}}.{{thumbnail.extension}}" class="norm" alt="">
   <img src="{{thumbnail.path}}.{{thumbnail.extension}}" class="flip" alt="">

   {{#with wiki}}
   <ul class="stats datapoints">
      {{#if height}}
      <li>
         <h3 class="title">Height</h3>
         <p class="value">{{height}}</p>
      </li>
      {{/if}}
      {{#if eyes}}
      <li>
         <h3 class="title">Eyes</h3>
         <p class="value">{{eyes}}</p>
      </li>
      {{/if}}
      {{#if education}}
      <li>
         <h3 class="title">Education</h3>
         <p class="value">{{education}}</p>
      </li>
      {{/if}}
      {{#if weight}}
      <li>
         <h3 class="title">Weight</h3>
         <p class="value">{{weight}}</p>
      </li>
      {{/if}}
      {{#if hair}}
      <li>
         <h3 class="title">Hair</h3>
         <p class="value">{{hair}}</p>
      </li>
      {{/if}}
      {{#if relatives}}
      <li>
         <h3 class="title">Relatives</h3>
         <p class="value">{{makelinks relatives}}</p>
      </li>
      {{/if}}
   </ul>

   <p class="bio readmore">
      {{breaklines bio}}
   </p>
   {{/with}}
</div>

<div class="info">
   <img src="/img/divider.png" class="divider">

   <h1>{{name}} <span class="status">{{status}}</span></h1>
   <h2 class="subtitle">{{subtitle}}</h2>

   {{#with wiki}}
   <ul class="datapoints">
      {{#if debut}}
      <li>
         <h3>Debut</h3>
         {{#each debut}}
         <p>{{this}}</p>
         {{/each}}
      </li>
      {{/if}}
      {{#if origin}}
      <li>
         <h3>Origin</h3>
         {{#each origin}}
         <p>{{this}}</p>
         {{/each}}
      </li>
      {{/if}}
   </ul>
   <hr>
   {{/with}}

   

   {{#with description}}
   <p class="desc">
      {{breaklines this}}
   </p>
   <hr>
   {{/with}}

   {{#with wiki.current_members}}
   <h3>Current Members</h3>
   <p class="members">
      {{makelinks this 'name'}}
   </p>
   <hr>
   {{/with}}

   {{#with wiki.former_members}}
   <h3>Former Members</h3>
   <p class="members">
      {{makelinks this 'name'}}
   </p>
   <hr>
   {{/with}}

  
   {{#with wiki}}
   <ul class="datapoints">
      {{#if real_name}}
      <li>
        <h3 class="title">Real Name</h3>
        <p class="value">{{real_name}}</p>
      </li>
      {{/if}}
      {{#if identity}}
      <li>
        <h3 class="title">Identity</h3>
        <p class="value">{{identity}}</p>
      </li>
      {{/if}}
      {{#if occupation}}
      <li>
        <h3 class="title">Occupation</h3>
        <p class="value">{{makelinks occupation}}</p>
      </li>
      {{/if}}
      {{#if aliases}}
      <li>
        <h3 class="title">Aliases</h3>
        <p class="value">{{makelinks aliases}}</p>
      </li>
      {{/if}}
      {{#if citizenship}}
      <li>
        <h3 class="title">Citizenship</h3>
        <p class="value">{{makelinks citizenship}}</p>
      </li>
      {{/if}}
      {{#if groups}}
      <li>
        <h3 class="title">Groups</h3>
        <p class="value">{{makelinks groups}}</p>
      </li>
      {{/if}}
   </ul>
   <hr>

   {{#if powers}}
   <div class="powers">
      <h2>Powers</h2>
      <p>{{makelinks powers}}</p>
   </div>
   {{/if}}
   {{#if abilities}}
   <div class="abilities">
      <h2>Abilities</h2>
      <p>{{makelinks abilities}}</p>
   </div>
   {{/if}}
   {{#if weapons}}
   <div class="weapons">
      <h2>Weapons</h2>
      <p>{{makelinks weapons}}</p>
   </div>
   <hr>
   {{/if}}
   {{#if significant_issues}}
   <div class="significant-issues">
      <h2>Significant Issues</h2>
      <p>{{makelinks significant_issues}}</p>
   </div>
   {{/if}}
   {{/with}}

   {{#unless hasData}}
      <p>(Looks like we don't have any data about this character. Hopefully it will get added to the Marvel API soon.)</p>
   {{/unless}}



   {{#if linkback}}
      <hr>
      <a href="{{linkback}}" title="View on Marvel">All data from the awesome folks at Marvel.</a>
   {{/if}}
</div>
{{/with}}

{{#if data.comics.results}}
<div class="other-comics" id="other-comics">
   <h2>{{data.name}} Appears In</h2>
   <hr>
   <ul class="comic-list">
      {{#each data.comics.results}}
         <li class="list-group-item">
            <a href="/comic/{{path.key}}" title="">
            {{#with this.value}}
               <img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="">
               <p class="title">{{title}}</p>
            {{/with}}
            </a>
         </li>
      {{/each}}
   </ul> 

   {{#if pagination.needed}}
      <ul class="pagination">
         {{#paginate pagination type="previous"}}
         <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}#other-comics" >&laquo;</a></li>
         {{/paginate}}
         {{#paginate pagination type="middle" limit="7"}}
         <li {{#if active}}class="active"{{/if}}><a href="?p={{n}}#other-comics">{{n}}</a></li>
         {{/paginate}}
         {{#paginate pagination type="next"}}
         <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}#other-comics">&raquo;</a></li>
         {{/paginate}}
      </ul>
   {{/if}}
</div>
{{/if}}


